@import url("modern-normalize");

body {
  background: transparent;
  color: #DCDDDE;
}

.container {
  height: 100vh;
  &.mode-user {
    background: #1e1e1e;
  }
  &.mode-mirror {
    background: transparent;
  }
}

.controls {

}

.control {
  display: inline-block;
  margin: 0.5em;
}