@import url("modern-normalize");

body {
  color: #DCDDDE;
  background: #1e1e1e;
}

.container {
  display: flex;
}

.previews {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
}

.controls {
  width: 300px;
}

.control {
  margin: 0.5em;
}